h1,
h2,
h3,
span,
body {
    margin: 0;
    color: black;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
    color: white;
}

@media (max-width: 640px){
  h1{
    font-size: 1.5em;
  }
}

.container {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 90%;
    padding-top: 3%;
}

.content {
    min-height: 350px;
    height: 20%;
    min-width: 250px;
    width: 18%;
    display: inline-block;
    margin: 1%;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
}

.content > div {
    min-width: 100%;
}

.header {
    background-color: #004700;
    padding: 2% 0 3% 0;
}

.front,
.back {
    height: 100%;
    position: absolute;
}

.back {
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: inset 0 0 20px #000;
    height: 60%;
    overflow: scroll;
    opacity: 0;
    border-radius: 5px 5px 0 0;
}

.back:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.headcont {
    background: #005500;
    height: 30%;
    max-height: 30%;
    overflow: hidden;
    padding: 0 5% 0 5%;
}

.headline {
    color: white;
    font-size: 1.2em;
}

.image {
    height: 60%;
}

.upvote {
    display: inline;
    text-align: left;
    color: white;
    line-height: 40px;
    font-size: 1.6em;
    float: right;
    height: 40px;
    width: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 8px;
    overflow: hidden;
    border-bottom-left-radius: 4px;
}

.contfooter {
    background-color: #004500;
    height: 10%;
    line-height: 15px;
}

.ctn-foot-text {
    font-weight: 100;
    font-size: 0.7em;
    font-style: italic;
}

.description {
    line-height: 1.25em;
    color: white;
    font-size: 1em;
}
